.dashboard {
    display: flex;
    height: 100vh;
  }
  
  /* Sidebar */
  .sidebarD {
    padding: 4% 1% 0;
    position: relative;
    top: 0;
    left: 0;
    width: 210px;
    background-color: #2d2d2d;
    color: white;
    display: flex;
    flex-direction: column;
    box-shadow: -4px 0 6px rgba(0, 0, 0, 0.1);
    z-index: 2;
    animation: slide-in2 0.3s ease-in-out;
  }

  @keyframes slide-in2 {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}
  
  .sidebarD h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  #election-select{
    padding: 10px;
    flex-grow: 1;
  }
  
  .sidebarD ul {
    list-style: none;
    padding: 0;
  }
  
  .sidebarD ul li {
    padding: 10px;
    cursor: pointer;
    color: white;
  }
  
  .sidebarD ul li:hover {
    background-color: #5a5858;
  }
  
  /* Main Content */
  .content {
    width: 75%;
    padding: 5% 5%;
  }
  input{
    width: 20%;
  }
  .input2{
    flex-grow: 1;
  }
  .content h2 {
    width: 100%;
    display: flex;
    font-size: 1.5rem;
    margin-bottom: 20px;
    margin-top: 20px;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-content: start;
  }
  .create{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .selectElection{
    display: flex;
    justify-content: center;
    gap: 9px;
    align-items: center;
  }
  .selectPos{
    padding: 11px;
  }
  
  .content input {
    padding: 10px;
    margin-right: 10px;
  }
  
  .content button {
    padding: 1px 15px;
    height: 40px;
    line-height: 1;
  }
  
  .content ul {
    list-style: none;
    padding: 0;
  }
  
  .content ul li {
    margin-bottom: 10px;
    height: 40px;
    background-color: #292828;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 2rem;
  }
  .positions-table,.elections-table,.candidates-table{
    width: 100%;
    text-align: center;
    margin-top: 1.5rem;
  }
  table th{
    font-size: 1.4rem;
  }
  table tr{
    height: 40px;
  }
  .actions_btn{
   display: flex;
   justify-content: space-around;
  }
  .actions_btn button{
    background-color: #29292f;
  }
  table tr:nth-child(even) {
    background-color: #3a3a3a;
  }

  table tr:nth-child(odd) {
    background-color: #2d2d2d;
  }
  .overlay{
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 2;
    height: 100vh;
    background-color: #00000082;
    backdrop-filter: blur(1px);
  }
  .edit-dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    color: wheat;
    border: none;
    transform: translate(-50%, -50%);
    background: #2d2d2d;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 3;
  }
  .edit-dialog h3 {
    margin-bottom: 10px;
  }
  .edit-dialog label {
    display: block;
    margin-bottom: 10px;
  }
  .edit-dialog input {
    width: 90%;
    height: 30px;
    padding: 5px;
    margin-bottom: 10px;
    border: none;
    border-radius: 8px;
  }
  .edit-dialog button {
    margin-right: 10px;
  }
  