.candidate-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(1 4 7 / 67%);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.popup-content {
    background: #fff;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    width: 90%;
    max-width: 400px;
}

.h2{
    margin-bottom: 20px;
    font-size: 1.5rem;
    color:black;
}

.candidate-list {
    list-style: none;
    padding: 0;
    margin: 0 0 20px 0;
}

.candidate-item {
    padding: 10px 15px;
    margin-bottom: 10px;
    background-color: #f1f1f1;
    color:grey;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.candidate-item:hover,
.candidate-item:focus {
    background-color: #d9edf7;
    outline: none;
}

.close-button {
    padding: 10px 20px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.close-button:hover {
    background-color: #e53935;
}
